@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.input-box {
  @apply w-full flex items-center gap-2 bg-gray-50/70 border border-slate-200 rounded-md px-3 py-2.5 focus-within:border-purple-400 focus-within:ring-2 focus-within:ring-purple-200 transition-all duration-200;
}

.btn-primary {
  @apply w-full text-sm font-medium text-white bg-black shadow-lg shadow-purple-600/5 p-[10px] rounded-md mt-2 hover:bg-purple-600/15 hover:text-black cursor-pointer;
}

.btn-small {
  @apply flex items-center gap-2 text-[13px] font-semibold text-white 
         bg-gradient-to-r from-purple-500/85 to-purple-700 px-5 py-1.5 
         rounded cursor-pointer;
}

.btn-small-light {
  @apply flex items-center gap-2 text-[12px] font-semibold text-purple-800 bg-purple-600/15 border border-purple-50 hover:border-purple-400 px-3 py-1.5 rounded cursor-pointer;
}

.form-input {
  @apply w-full text-sm text-black outline-none bg-white border  border-slate-100 px-2.5 py-3 rounded-md mt-2 placeholder:text-gray-500 focus-within:border-purple-300;
}